
body {
    background-color: #fff;
}
.header {

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:nowrap;
    background-image: url("https://cdn.chaldal.net/asset/Egg.Grocery.Fabric/Egg.Grocery.Web/1.5.0+Release-1811/Default/stores/chaldal/components/landingPage2/LandingPage/images/landingBannerTop.jpg"); /* The image used */
    height: 325px; /* You must set a specified height */
    background-repeat: no-repeat; /* Do not repeat the image */
    margin-top: 60px;
    align-items: center;
  }
  .header h2 {
      font-weight: 700;
      font-size: 2.5em;
  }
  .header--search {
      width: 50%;
  }

  .category--name {
    width: 80%;
    font-size: 15px;
    line-height: 31px;
    margin: 0px;
    text-align: center;
    font-weight: 400;
  }
  .category--icon {
      font-size:26px;
      justify-content: flex-end;
  }
  .productCategory--box {
      cursor: pointer;
      
  }
  .gutter-row {
      padding: 8px 0px;
    border: 1px solid rgb(192, 185, 185);
    display: flex;
  }
  .category-row:not(:last-child) {
      margin-bottom: 10px;
  }
  .section--productCategory {
    max-width: 1170px;
    margin: auto;
    padding: 30px 15px;
  }
  .section--productCategory h1 {
      text-align: center;
      font-size: 25px;
      font-weight: 300;
      margin: 0px;
  }
